#blue{
    background-color: aqua;
}

@media (min-width: 701px){
    #grey{
        background-color: darkgray;
        margin-right: 5px;
        margin-left: 500px;
    }
}
#orange{
    background-color: bisque;
    float: left;
    width: 500px;
}
@media (max-width: 700px){

    #orange{
        background-color: bisque;
        width: 120px;
    }

    #grey{
        background-color: darkgray;
        margin-top: 50px;
        clear: left;
        width: 360px;
    }
}