div {
    height: 100%;
    width:600px;
    min-width:600px;
    background:blue;
    color:white;
    margin: auto;
}

img {
    position:relative;
    right:0;
    top:0;
    float:right;
    padding: 0 0 5px 5px;
}