div {
    margin: 0 auto;
    max-width: 500px;
    color: white;
}

div:first-of-type {
    background-color: green;
}

div:nth-of-type(2) {
    background-color: blue;
    margin-top: 10px;
    padding: 20px;
    border: 20px solid blue;
}