* {
    margin: 0;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header {
    background-color: #eaeaea;
    height: 6em;
}

header h1 {
    margin: 0;
    padding: 5px;
}

aside {
    background-color: #c8fc98;
    float: left;
    width: 200px;
    line-height: 1.5em;
    margin-right: 10px;
}

aside h4, p {
    margin: 0 0 0 10px;
}

aside p {
    font-size: 15px;
}

span {
    color: red;
    font-style: italic;
}

section {
    margin-top: 5px;
}

section p {
    display: inline;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5em;
}

footer {
    background-color: black;
    text-align: center;
    line-height: 1.5em;
}

footer a {
    color: yellow;
    text-decoration: underline;
    text-align: center;
}

#left {
    width: 25%;
}

#right {
    float: right;
    background-color: #FDE95E;
    margin: 0;
}