main {
    background-color: aqua;
}

nav {
    width: 12em;
    float: left;
    padding: 6px 0;
    background-color: bisque;
}

section {
    position: relative;
    margin-left: 12em;
    top: 0;
    background-color: #EAEAEA;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: limegreen;
}