#blue{
    background-color: aqua;
}
ul{

}
@media (min-width: 701px){
    img{
        float: right;
        height: 500px;
    }
    #grey{
        background-color: darkgray;
        margin-left: 500px;
    }
}
#orange{
    background-color: bisque;
    float: left;
    width: 500px;
}
@media (max-width: 700px){
    img{
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    #grey{
        background-color: bisque;
        width: 120px;
    }
    #grey{
        background-color: darkgray;
        margin-right: 0;
        margin-left: 120px;
    }
}